{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
	{% include 'nav_bar.html' %}

	</nav>
	<div class="modal fade" id="EditBoardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Update Board Name</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>

	   	   {% if update_form.errors %}
								{% for error in update_form.non_field_errors %}
									<div class="alert alert-danger error-box-boards">
									    <strong>{{ error }}</strong>
									</div>
									    {% endfor %}
								{% endif %}
								{% if update_form.board_name.errors %}
								{% for error in update_form.board_name.errors %}
									<div class="alert alert-danger error-box-boards">
									    <strong>{{ error }}</strong>
									</div>
								{% endfor %}
								{% endif %}
	      <form name="EditModal" method="post" novalidate="">
	      	{% csrf_token %}
		      <div class="modal-body">
		        {{ update_form.board_name }}	      
		    </div>
		      <div class="modal-footer">
		        <button name="EditModal" type="submit" class="btn btn-primary">Update Board</button>
		      </div>
	  	</form>
	    </div>
	  </div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<p class="custom-boards-title"> {{ data.name }} </p>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 dropdown show custom-boards-title custom-settings-board text-right">
			  <a class="btn btn-primary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Settings
			  </a>

			  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			    <a class="dropdown-item" data-toggle="modal" data-target="#EditBoardModal">Update Board</a>
			    <a class="dropdown-item" href="#">Archive Board</a>
			  </div>
		</div>

	</div>
	<div class ="box-row row">
		

		
	</div>
		
{% endblock %}
