{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Trello</title>
		 <link rel="stylesheet" type="text/css" href="{% static '/vendors/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/non-vendors/css/general.css' %}">
		 <script src="{% static '/vendors/js/jquery.js' %}"></script>
		 
		 <script src="{% static '/vendors/js/popper.js' %}"></script>
		 <script src="{% static '/vendors/js/bootstrap.min.js' %}"></script>
		  <script src="{% static '/non-vendors/js/general.js' %}"></script>
	</head>
	<body>
		{% block body %}

		{% endblock %}
	</body>
		
</html>