{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-xs-10 offset-xs-2">
					<form method="post" novalidate>
						{% csrf_token %}
						<h2 class="log-in-title"> LOG IN TO TRELLO </h2>
						<p class="sign-up-sub"> or <a href="{% url 'users:sign_up' %}">create an account</a></p>
								{% if form.errors %}
								{% for error in form.non_field_errors %}
									<div class="alert alert-danger error_box">
									    <strong>{{ error }}</strong>
									</div>
									    {% endfor %}
								{% endif %}

							
						<label for="" class="label-margin">Username</label>
							{{ form.username }}

								{% if form.username.errors %}
								{% for error in form.username.errors %}
									<div class="alert alert-danger error_box">
									    <strong>{{ error }}</strong>
									</div>
								{% endfor %}
								{% endif %}
							<label for="" class="label-margin">Password</label>
							{{ form.password }}

								{% if form.password.errors %}
								{% for error in form.password.errors %}
									<div class="alert alert-danger error_box">
									    <strong>{{ error }}</strong>
									</div>
								{% endfor %}
								{% endif %}
						<button  id="sign-up-submit" type="submit" class="btn btn-success button-margin">Log In</button>
					</form>
			</div>
		</div>
	</div>
{% endblock %}
